<h1>All Articles</h1>

<% if current_user %>
<%= link_to "New Article", new_article_path %>
<% end %>

<br/>

<% @article.each do |article| %>

  <b><%= link_to article.title, article_path(article)%> </b>
  <small>Created by <%=article.user.email %>
  </small>
  <br/>
  <%=article.body%>
  </br>

  </small>

<%end%>