<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to "Blog App", root_path %>

</br>

<% if user_signed_in? %>
Signed in as <%= "#{current_user.email}" %>
<br/>
<%=link_to "SignOut", destroy_user_session_path, method: :delete %>
<br/>
<% end %>
<%= link_to "Register", new_user_registration_path %>

<%= link_to "Sign in", new_user_session_path %>


<% flash.each do |name, msg| %>
      <div class='alert alert-<%="#{name}" %>'>
        <a href='#' class='close' data-dismiss='alert'>&#215;</a>
        <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
      </div>
      <% end %>
      

<%= yield %>

</body>
</html>
